<ul id="general_actions">
  <li><%= link_to 'Make another list', new_list_path, :style => "font-size:16pt;" %></li>
  <li><%= link_to 'Sign out', logout_path, :style => "font-size:16pt;" %></li>
</ul>