<div id="general_actions">
  <%= link_to 'Make another List', new_list_path, :style => "font-size:16pt;" %><!-- DESIGN where should this go? -->
</div>

<%= render :partial => "list", :collection => @lists %>
