.flash {
  font-size:12pt;
  font-style:italic;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
  width:50%;
  background:#f0f0f0;
  border: 1px solid #b0b0b0;
  padding:5px;
}

.flash.error {
  color:red;
}

* {font-family: 'Anonymous Pro', sans-serif; font-size:10pt; color:#404040;} // REVIEW

a {color:#808080;}
a:hover {background-color:#b0b0b0;}

#general_actions {
  padding-bottom:10px;
}

h1 {
  font-size:30pt;
  font-weight:700;
  margin:0;
  margin-bottom:5px;
}

ul.list {
  list-style-type:none;
  padding-left:5px;
}

ul.list li span.content {
  margin-right:5px;
}

ul.list li {
  padding-bottom:5px;
}